/* Layout */

p {
    text-transform: none !important;
}

i::before {
    vertical-align: middle;
}

.content {
    width: 100%;
    height: 100vh;
}

.welcomeTitle {
    text-align: center;
}

/* Fonts */

.r-font {
    font-family: "righteous";
}

.k-font {
    font-family: 'Reem Kufi';
}

/* Navbar */

.fa-folder-plus {
    color: #ffd05b;
}

.nav-color {
    color: black;
    background-color: white;
    border-bottom: 1px solid #dadce0;
}

.nav-color a {
    color: #324a5e;
}

.nav-btn {
    padding: 0;
    box-shadow: 0;
    color: #324a5e;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.nav-btn:hover {
    background-color: #eeeeee99;
}

.fa-user-plus{
    font-size: 25px !important;
}

/* File manager */

#explorer {
    opacity: .75;
}

.show {
    opacity: 1 !important;
    transition: .2s ease-in;
}

.back-btn {
    padding: 0;
    margin-left: 10px;
    border-width: 0;
    color: #324a5e;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 12px;
}

.back-btn:hover {
    background-color: #eeeeee99;
}

.url {
    border-bottom: 1px solid #dadce0;
}

.total-path {
    margin-left: 10px !important;
}

.current-path {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.current-path:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.divider {
    padding: 0px 5px 0px 5px;
    color: rgba(0, 0, 0, .72);
}

.object {
    color: rgba(0, 0, 0, .72);
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    border-radius: 10px;
}

.object:hover {
    cursor: pointer;
    background-color: #eeeeee99;
}

.object:active {
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 10px;
}

.object-folder i {
    font-size: 8em;
    color: #ffd05b;
}

.object-file i {
    font-size: 8em;
    color: #324a5e;
}

.object p {
    width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
}

.cuted {
    opacity: .5;
}

/* Right click menu */

#menu, #menu2 {
    padding: 5px 0;
    z-index: 100;
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    height: auto;
    width: auto;
    box-shadow: 0 0 10px 0 #55555555;
    border-radius: 5px;
    background-color: white;
}

#menu div, #menu2 div {
    padding: 5px 15px 5px 5px;
    color: #555555;
}

#menu i, #menu2 i {
    margin: 0 5px;
    font-size: 18px;
}

#menu div:hover, #menu2 div:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

#menu hr, #menu2 hr {
    margin: 5px 0;
}

#menu .disabled, #menu2 .disabled {
    color: #bbbbbb !important;
}